aside {

    background-color: rgb(85, 63, 130);
    align-items: center;

}

h2 {

    font-size: 2.7rem;
    max-width: 10rem;
    margin-right: auto;
    margin-left: auto;
}

text {
    font-size: 1rem;
    max-width: 10rem;
    margin-right: auto;
    margin-left: auto;
}



.with-sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}

.sidebar {

    flex-basis: 14rem;
    flex-grow: 1;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}



.not-sidebar {

    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;

}

.wrapper {

    max-width: 40rem;
    margin-right: auto;
    margin-left: auto;

}


img {
    max-width:100%;
}

.aside-image {
    width: 100%;
}


body {
    font-family:Arial, Helvetica, sans-serif

}