aside {

    background-color: rgb(61, 29, 124);
    align-items: center;

}

h1,
h2,
h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(59, 185, 207);
    margin-right: auto;
    margin-left: auto;

}


article>h1 {
    background-color: rgb(61, 29, 124);
    font-size: 1rem;
    max-width: 15rem;
    padding: 0.2rem;
}


.sidebar-title {
    line-height: 1;
    font-size: 2.4rem;
    max-width: 10rem;
    margin-right: auto;
    margin-left: auto;
}

aside>h2 {

    font-size: 0.83rem;
    max-width: 10rem;
    margin-bottom: .2em;
    
}

article>h2 {
    font-size: 0.83rem;
    max-width: 15.4rem;
    margin-bottom: .2em;
}

article>h3 {
    font-size: 0.6rem;
    max-width: 15.4rem;
    margin-top: .2em;
    margin-bottom: .2em;

}




.with-sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}

.sidebar {

    flex-basis: 14rem;
    flex-grow: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.mitten {

    max-width: 10rem;
    margin-right: auto;
    margin-left: auto;
    color: white;
    font-size: 0.7rem;
    margin-top: .2em;
}

.listan {

    max-width: 10.5rem;
    margin-right: auto;
    margin-left: auto;
    color: white;
    font-size: 0.7rem;
    margin-top: .2em;
}

aside>ul {
    margin-top: .2em;
}

article>ul {
    margin-top: .2em;
}


.not-sidebar {

    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;

}

.notsidebarmitten {
    max-width: 15.4rem;
    margin-right: auto;
    margin-left: auto;
    color: rgb(0, 0, 0);
    font-size: 0.7rem;

}


.wrapper {

    max-width: 33rem;
    margin-right: auto;
    margin-left: auto;

}


img {
    max-width: 100%;
}

.aside-image {
    width: 100%;
}


body {
    font-family: Arial, Helvetica, sans-serif
}